doctype 5
html
    head
        script(src='/socket.io/socket.io.js')
        script(src='/js/jquery-1.8.2.min.js')
        script(src='/js/client.js')
    body
        #container
            block content