*{
	margin: 0;
	padding: 0;
}

#alerts_sup_container{
	position:fixed;
	text-align:center;
	z-index : 999;
	margin:auto;
	width : 100%;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

#alerts_container{
	position:relative;
	text-align:center;
	z-index : 1000;
	margin:auto;
}

.shide {
	display : none!important;
	overflow : hidden!important;
	margin : 0!important;
	padding : 0!important;
}


.vroom{
	display: inline-block;
	padding: 10px 15px;
	border: solid 1px #808080;
	text-align: center;
}

#myCam{
	display: block;
	padding: 10px 15px;
	border: solid 1px #808080;
	text-align: center;
}

.view_room{
	display: inline-block;
	border: solid 2px;
	padding: 3px;
	margin : 3px;
}

.view_room_img {
	width: 100px;
	display: block;
}

.room_created {
	border-color: #add191;
	color: #2b8432;
}


.room_closed {
	border-color: Red;
	color: Red;
}

.gen_male, .gen_female, .gen_couple {
	background-color:#E4E4E4;
	background-position: top left;
	background-repeat:no-repeat;
}
.gen_male {
	background-image: url('/img/gen_m.jpg');
}
.gen_female {
	background-image: url('/img/gen_f.jpg');
}
.gen_couple {
	background-image: url('/img/gen_c.jpg');
}

.rouletecontainer {
	margin-top: 40px;
	margin-left: 30%;
	margin-right: 30%;
	padding-bottom: 50px;
}

.rouletecontainer_title{
	text-align: center;
}
.rouletecontainer_button{
	float: right;
}

.chatp2pcontainer, .chatp2p_container{
	text-align: left;
	display: block;
	height: 475px;
	background-color: #dddddd;
	border:  solid 1px #818181;
	overflow: auto;
	font-size: 0.8em;
	margin-top: 30px;
	margin-bottom: 15px;
}

.p2p-otherVideoContainer {
	text-align: center;
	padding: 5px;
	margin-top: 25px;
}

.view_room .view_room_header {
	display:block;
}

.view_room .view_room_header .view_room_header_creator{
	display:block;
	padding-left:20px;
}

.p2p-myVideoContainer {
	text-align: center;
	padding: 5px;
	margin-top: 5px;
}

#vvimg0{
	width: 320px;
}

#vvimg1,#vvimg2,#vvimg3{
	width: 180px;
}

.chatroomcontainer .chatroom_title {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 20px 5px 10px;
	text-decoration: dotted;
}

.chatroomcontainer .chatroom_container{
	text-align: left;
	display: block;
	height: 300px;
	background-color: #dddddd;
	border:  solid 1px #818181;
	overflow: auto;
	font-size: 0.8em;
}

.chatmsg_creator {
	padding: 2px;
	border: solid 1px #d1960a;
	background-color: #f9e4be;
}

.chatmsg_user {
	padding: 2px;
	border: solid 1px #28d1bc;
	background-color: #d1f5f0;
}

.chatmsg_guest {
	padding: 2px;
	border: solid 1px #808080;
	background-color: #f0f0f0;
}

.chatmsg_guest .chatmsg_username{
	font-weight: bold;
}

.chatmsg_creator .chatmsg_username {
	color: #d1960a;
}

.chatmsg_user .chatmsg_username {
   color: #28d1bc;
}

.chatmsg_guest .chatmsg_username{
	color: #808080;
}


.vvroomcontainer, .chatroomcontainer {
	background-color: #e7e7e7;
	border: solid 1px #818181;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 4px;
}

.vvroomcontainer a.roomclose, .chatroomcontainer a.roomclose, .p2pclose {
	float: right;
	display: block;
	width: 15px;
	height: 20px;
	background-image: url('/img/X.jpg');
	background-position: top center;
	background-color: #a5a5a5;
}

.vvroomcontainer a.roomclose:hover, .chatroomcontainer a.roomclose:hover {
	background-position: bottom center;
	background-color: #666666;
}


.vvroomcontainer .vvimgcontainer {
	text-align: center;
	padding: 5px;
}

 .chatroomcontainer .vvimgcontainer {
	text-align: center;
	padding: 5px;
	margin-top: 25px;
}

.vvroomcontainer .vvtitle {
	margin: 5px 20px 5px 5px;
	color:#111111;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:12px;
	text-align:left;
	font-family:arial black, sans-serif;
	line-height:1;
	overflow: hidden;
}

.vvroomcontainer .vvtitle .user {
	color:#555555;
	font-size:13px;
	text-decoration: underline;
	line-height:0.8;
	margin-right: 5px;
}

.chatroomcontainer .vvtitle {
	margin: 5px 20px 5px 5px;
	color:#111111;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:14px;
	text-align:left;
	font-family:arial black, sans-serif;
	line-height:1;
	overflow: hidden;
}

.chatroomcontainer .vvtitle .user {
	color:#555555;
	font-size:15px;
	text-decoration: underline;
	line-height:0.8;
	margin-right: 5px;
}

.vvroomcontainer .vvoptions, .chatroomcontainer .vvoptions {
	border-top: solid 1px #818181;
	text-align: right;
	padding: 4px; 
}

.vvoptions .option, .vvoptions .option {
	display: inline-block;
	height: 20px;
	background-color: #a5a5a5;
	color: White;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 2px;
}

.vvoptions .option_msg {
	padding-left: 23px !important;
	padding-right: 3px !important;
	background-image: url('/img/countmsg.jpg');
	background-position: top left;
	background-repeat: no-repeat;
}

.vvoptions .option_zoom {
	width: 30px;
	background-image: url('/img/expan.jpg');
	background-position: top;
	background-repeat: no-repeat;
}
.vvoptions .option_zoom:hover {
	background-position: bottom;
}

.p2p_link_pay, .p2p_link_free, .p2p_link_pay_dissabled, .p2p_link_free_dissabled, .follow_link, .unfollow_link, .send_token{
	display: inline-block;
	height: 20px;
	background-color: #a5a5a5;
	color: White;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 2px;
	width: 30px;
	background-position: top;
	background-repeat: no-repeat;
}



.send_token {
	background-image: url('/img/sendtoken.jpg');
}
.p2p_link_pay {
	background-image: url('/img/p2p_pay.jpg');
}
.p2p_link_free {
	background-image: url('/img/p2p.jpg');
}
.p2p_link_pay_dissabled {
	background-image: url('/img/p2p_pay_paused.jpg');
}
.p2p_link_free_dissabled {
	background-image: url('/img/p2p_paused.jpg');
}
.follow_link {
	background-image: url('/img/follow.jpg');
}
.unfollow_link {
	background-image: url('/img/unfollow.jpg');
}
.p2p_link_pay:hover, .p2p_link_free:hover, .follow_link:hover, .unfollow_link:hover, .send_token:hover {
	background-position: bottom;
}
