body {
	  margin:0px;
	  padding:0px;
      }

#loading_container {
	width: 100%;
	position: absolute;
	top: 50%;
	text-align: center;
	overflow: visible;
	text-align: center;
}

#loading_box {
	position: relative;
	height: 100px;
	top: -50px;
	margin:auto;
	
	font-family: impact, sans-serif;
	color: #B8AD9C;
	font-size: 25px;
	letter-spacing: 8.4pt;
}
