<div class="modal hide fade" id='modal_container'></div>
<div id='alerts_sup_container'><div class="container" id='alerts_container'></div></div>
<div id="web_container">
	<div class="container navbar navbar-inverse">
		<div class="navbar-inner ">
			<a class="brand" href="#">WorldCam</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">CamerasViewing</a></li>
					<li class="hide" id="button_container_new_room"><a class="my_modal" href="/load/modal_new_room.html">ShowCam</a></li>
					<!--
						No hacemos roulete
					<li class="hide" id="button_container_roulete"><a class="my_modal" href="/load/modal_roulete.html">Roulete</a></li>
					-->
					<li class="hide" id="button_container_myprofile"><a id="myprofile" href="#myprofile"></a></li>
					<li class="hide" id="button_container_buycredit"><a class="my_modal" id="buy_credit" href="/load/modal_buy_tokens.html">Buy Credit</a></li>
					<li class="hide" id="button_container_logout"><a id="button_logout" href="#logOut">LogOut</a></li>
					<li id="button_container_login"><a class="my_modal" href="/load/modal_login.html">LogIn</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>		
		</div>
	</div>

	<div class="container navbar">
		<div class="navbar-inner ">
			<ul class="nav nav-tabs" id="myTab">
				<li id="camsTabLink" class="active" ><a href="#tabCams" data-toggle="tab">Cams</a></li>
				<li id="viewingTabLink" class="hide"><a href="#tabViewing" data-toggle="tab">Viewing</a></li>
				<li id="myCamTabLink" class="hide"><a href="#tabMyCam" data-toggle="tab">My Cam</a></li>
			</ul>
			<span id="myTokensBadge" class="badge hide" style="float:right"></span>
		</div>
	</div>
	<div class="container tab-content" id="page">
		<!-- Cams -->
		<div class="tab-pane active" id="tabCams">
			<div id="tabCams_filters">
				Filter rooms: 
				<label class="checkbox inline">
					<input type="checkbox" class="filter" value="male" checked> Males
				</label>
				<label class="checkbox inline">
					<input type="checkbox" class="filter" value="female" checked> Females
				</label>
				<label class="checkbox inline">
					<input type="checkbox" class="filter" value="couple" checked> Couples
				</label>
				<span id="filter_all_container" class="hide">
					| 
					<label class="checkbox inline">
						<input type="checkbox" id="filter_all" value="filter_all" checked> All/following
					</label>
				</span>
			</div>
			<hr/>
			<div id="rooms">
				<span id="openRooms_follow"></span>
				<span id="openRooms"></span>
				<span id="closedRooms"></span>
			</div>
		</div>
		
		<!-- Viewing Cams -->
		<div class="tab-pane" id="tabViewing">
			<div id="vvrooms">
				<div class="row chatroomcontainer">
						<a href="#close0" title="Close Room" class="roomclose" id="vvroomclose0"></a>
						<div id="vvroom0" class="span6">
							<div> 
								<div class="vvtitle">NO transmitting</div>
								<div class="vvimgcontainer">
									<img id="vvimg0" alt="Room 0" src="/img/nocam.gif" />
								</div>
								<div class="vvoptions" id="vvroom0_extraoptions" style="display: none;">
								</div>
							</div>
						</div>
						<div id="vvroomchat" class="span5">
							<div class="chatroom_title">Room Chat</div>
							<div id="vvroomchatcontainer" class="chatroom_container">
							</div>
							<form id="vvroomchatform" class="chatroom_form">
								<div class="input-append">
									<input type="text" id="vvroomchatinput" class="span4">
									<button type="submit" id="vvroomchatsubmit" class="btn">Send</button>
								</div>
							</form>
						</div>
				</div>
				<div class="row">
					<div id="vvroom1" class="span4 vvroom">
						<div class="vvroomcontainer"> 
							<a href="#close1" title="Close Room" class="roomclose" id="vvroomclose1" style="display: none;"></a>
							<div class="vvtitle">NO transmitting</div>
							<div class="vvimgcontainer">
								<img id="vvimg1" class="vvimg" alt="Room 0" src="/img/nocam.gif" />
							</div>
							<div class="vvoptions" style="display: none;">
								<span id="vvroom1_extraoptions"></span>
								<span class="option option_msg">0</span>
								<a id="option_zoom1" href="zoom" class="option option_zoom">&nbsp;</a>
							</div>
						</div>
					</div>
					<div id="vvroom2" class="span4 vvroom">
						<div class="vvroomcontainer"> 
							<a href="#close2" title="Close Room" class="roomclose" id="vvroomclose2" style="display: none;"></a>
							<div class="vvtitle">NO transmitting</div>
							<div class="vvimgcontainer">
								<img id="vvimg2" class="vvimg" alt="Room 0" src="/img/nocam.gif" />
							</div>
							<div class="vvoptions" style="display: none;">
								<span id="vvroom2_extraoptions"></span>
								<span class="option option_msg">0</span>
								<a id="option_zoom2" href="zoom" class="option option_zoom">&nbsp;</a>
							</div>
						</div>
					</div>
					<div id="vvroom3" class="span4 vvroom">
						<div class="vvroomcontainer"> 
							<a href="#close3" title="Close Room" class="roomclose" id="vvroomclose3" style="display: none;"></a>
							<div class="vvtitle">NO transmitting</div>
							<div class="vvimgcontainer">
								<img id="vvimg3" class="vvimg" alt="Room 0" src="/img/nocam.gif" />
							</div>
							<div class="vvoptions" style="display: none;">
								<span id="vvroom3_extraoptions"></span>
								<span class="option option_msg">0</span>
								<a id="option_zoom3" href="zoom" class="option option_zoom">&nbsp;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- My Cam -->
		<canvas id="myLocalCanvas" style="display:none; width: 320px;"></canvas>
		<div class="tab-pane" id="tabMyCam">
			<div id="myCam" class="row chatroomcontainer">
				<a href="#closeMyCam" title="Close MyCam" class="roomclose" id="myCam_close"></a>
				<div id="myCamroom" class="span6">
					<div> 
						<div class="vvtitle">NO transmitting</div>
						<div class="vvimgcontainer">
							<video autoplay="autoplay" style="width: 320px;" id="myVideo"></video>
						</div>
						<div class="vvoptions" style="display: none;">
						</div>
					</div>
				</div>
				<div id="myCamroomchat" class="span5">
					<div class="chatroom_title">Room Chat</div>
					<div id="myCamroomchatcontainer" class="chatroom_container">
					</div>
					<form id="myCamroomchatform" class="chatroom_form">
						<div class="input-append">
							<input type="text" id="myCamroomchatinput" class="span4">
							<button type="submit" id="myCamroomchatsubmit" class="btn">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="p2p" style="display:none;">
	<h2><div id="p2ptitle">P2P</div></h2>
	<div class="row chatroomcontainer">
		<a href="#" title="Close P2P" class="p2pclose" id="p2p_close"></a>
		<div class="row">
			<div id="otherP2P" class="span9">
				<div> 
					<div class="p2p-otherVideoContainer">
						<video autoplay="autoplay" style="width: 520px;" poster="/img/loading.gif" id="p2p-otherVideo"></video>
					</div>
					<div class="vvoptions">
						<a id="p2p_send_token" class="send_token" data-username="" data-user="" href="#sendtoken_p2p"></a>
					</div>
				</div>
			</div>
			<div id="myP2P" class="span2 offset2">
				<div> 
					<div class="p2p-myVideoContainer">
						<video autoplay="autoplay" poster="/img/loading.gif" style="width: 150px;" id="p2p-myVideo"></video>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>