<div class="modal-header">
	<a class="close" data-dismiss="modal">X</a>
	<h3>Start Roulete</h3>
</div>
<form class="form-horizontal">
<div class="modal-body">
	<p>Si aceptas se abrirá un chat con una persona al azar</p>
</div>
<div id="form_roulete_output"></div>
</form>	  
<div class="modal-footer">
	<a href="#" id="startRoulete" class="btn btn-success">Start roulete</a>
	<a href="#" id="stopRoulete"class="btn" data-dismiss="modal">Cancel</a>
</div>

