<div class="modal-header">
    <a class="close" data-dismiss="modal">X</a>
    <h3>Tokens sale</h3>
</div>
<div class="modal-body">
    <fieldset>
      <div class="control-group">
        <p style="text-align: center"> How many tokens would you like to buy? </p>
      </div>
      <div class="control-group">
        <center>
        <select id="num_tokens">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="100">100</option>
          <option value="250">250</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
        </center>
      </div>
    </fieldset>    
</div>
<div class="modal-footer">
    <a href="#" id="button_tokens_sale" class="btn btn-success">Buy</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>