<div class="modal-header">
	<a class="close" data-dismiss="modal">X</a>
	<h3>New room options</h3>
</div>
<form class="form-horizontal" id="form_startTransmission">
<div class="modal-body">
	<div class="tabbable tabs-left">
        <div class="tab-content">
            <fieldset>
                <div class="control-group">
					<div id="new_room_name_error"> </div>
                    <label class="control-label" for="input01"><b>Room's name</b></label>
                    <div class="controls">
                        <input type="text" placeholder="Desired name for the room" class="input-large" id="new_room_name">
                        <p class="help-block">Type your room's name</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01"><b>Frame rate</b></label>
                    <div class="controls">
                        <p class="help-block">What are you?</p>
                        <select class="input-large" id="new_room_gen">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="couple">Couple</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01"><b>Frame rate</b></label>
                    <div class="controls">
                        <select class="input-large" id="new_room_framerate">
                            <option value="1">1</option>
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                        </select>
                        <p class="help-block">Choose the desired frame rate for the new broadcast</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01"><b>Unregistered users</b></label>
                    <div class="controls">
                        <select class="input-large" id="new_room_allow_unregistered">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <p class="help-block">Allow unregistred users to watch the broadcast</p>
                    </div>
                </div>
                <div class="control-group">
					<div id="new_room_tokens_error"> </div>
                    <label class="control-label" for="input01"><b>Tokens required</b></label>
                    <div class="controls">
                        <input type="text" placeholder="Number of tokens (default is 0)" class="input-large" id="new_room_tokens">
                        <p class="help-block">Set the number of tokens required to access the room (0 free)</p>
                    </div>
                </div>
                <div class="control-group">
					<div id="new_room_p2p_error"> </div>
                    <label class="control-label" for="input01"><b>Tokens required for P2P</b></label>
                    <div class="controls">
                        <input type="text" placeholder="Number of tokens (default is 0)" class="inpput-large" id="new_room_payp2p">
                        <p class="help-block">Set the number of tokens required to access the P2P (0 free)</p>
                    </div>
                </div>
                <div class="control-group">
					<div id="new_room_gen_error"> </div>
                    <label class="control-label" for="input01"><b>Password</b></label>
                    <div class="controls">
                        <input type="password" placeholder="Password" class="input-large" id="new_room_password">
                        <p class="help-block">Set the password for the room</p>
                    </div>
                </div>
            </fieldset>
        </div>      
    </div>     
	<div id="newRoomErrorMsg"></div>
</div>
</form>
<div class="modal-footer">
	<a href="#" id="startTransmission" class="btn btn-success">Create Room</a>
	<a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>
