<div class="modal-header">
	<a class="close" data-dismiss="modal">X</a>
	<h3>LogIn</h3>
</div>
<form class="form-horizontal" id="form_login">
<div class="modal-body">
    <fieldset>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">UserName</label>
          <div class="controls">
            <input type="text" placeholder="username" class="input-xlarge" id="form_login_username">
            <p class="help-block">Enter your username</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Password</label>
          <div class="controls">
            <input type="password" placeholder="password" class="input-xlarge" id="form_login_password">
            <p class="help-block">Enter your password</p>
          </div>
        </div>

    </fieldset>    
	<div id="form_login_output"></div> 
</div>
</form>	 
<div class="modal-footer">
	<a href="#" id="button_login" class="btn btn-success">Enter</a>
	<a  href="/load/modal_new_user.html"class="my_modal btn btn-inverse">SignIn</a>
	<a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>