<script type="text/javascript">
  $("#button_join_room").attr("data-room",I.lastRoomClicked);
</script>

<div class="modal-header" id="private_password_modal">
    <a class="close" data-dismiss="modal">X</a>
    <h3>Oops, this room requires credentials...</h3>
</div>
<form class="form-horizontal">
  <div class="modal-body">
    <fieldset>
      <div class="control-group">
        <!-- Text input-->
        <label class="control-label">Room's password</label>
          <div class="controls">
            <input type="password" placeholder="password" class="input-xlarge" id="join_room_password">
          </div>
      </div>
    </fieldset>    
  </div>
</form>   
<div class="modal-footer">
    <a href="#" id="button_join_room" class="btn btn-success" data-room="" data-modal="private">Join Room</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>