<script type="text/javascript">
  $("#button_join_room").attr("data-room",I.lastRoomClicked);
</script>

<div class="modal-header">
    <a class="close" data-dismiss="modal">X</a>
    <h3>This room is free of charge</h3>
</div>
<form class="form-horizontal">
  <div class="modal-body">
    <fieldset>
      <div class="control-group">
        <!-- Text input-->
        <label class="control-label">Free-of-charge room</label>
      </div>
    </fieldset>    
  </div>
</form>   
<div class="modal-footer">
    <a href="#" id="button_join_room" class="btn btn-success" data-room="" data-modal="public">Join Room</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>