<script type="text/javascript">
  $("#button_join_room").attr("data-room",I.lastRoomClicked);
  var messageToDisplay = "";
  if(I.tokens < I.lastRoomTokens){
    messageToDisplay = "This room requires " + I.lastRoomTokens + " tokens and you have only " + I.tokens + ". You can't view this room!";
    $("#tokens_required").removeClass('text-success').addClass('text-error');
  }
  else {
    messageToDisplay = "You are about to pay with " + I.lastRoomTokens + " token of your wallet. Are you sure?";
    $("#tokens_required").removeClass('text-error').addClass('text-warning');
  }
  $("#tokens_required").text(messageToDisplay);
</script>

<div class="modal-header" id="public_tokens_modal">
	<a class="close" data-dismiss="modal">X</a>
	<h3>Please, take into account that this is not a free room...</h3>
</div>
<form class="form-horizontal">
  <div class="modal-body">
    <fieldset>
      <div class="control-group">
        <!-- Text input-->
        <p class="text-error" style="text-align: center" id="tokens_required"></p>
      </div>
    </fieldset>    
  </div>
</form>	  
<div class="modal-footer">
	 <a href="#" id="button_join_room" class="btn btn-success" data-room="" data-modal="public_token">Join Room</a>
	 <a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>